//  --------------------------------------------------
//  CSS BASE

//  - base element definitions

//  ==================================================



//  --------------------------------------------------
//  base elements styles
//  ==================================================
    html, body {
      font-size: $root-font-size;
      font-family: $root-font-family;
      font-weight: 400;
      line-height: rem(16px);
      margin: 0;
      color: $copy-1;
      text-rendering: geometricPrecision;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    ::-moz-selection {
      background: $copy-selected;
      text-shadow: none;
      color: white;
    }
    ::selection {
      background: $copy-selected;
      text-shadow: none;
      color: white;
    }

    ::-webkit-input-placeholder {
      color: $copy-4;
    }
    :-moz-placeholder { // Firefox 18-
      color: $copy-4;
    }
    ::-moz-placeholder {  // Firefox 19+
      color: $copy-4;
    }
    :-ms-input-placeholder {
      color: $copy-4;
    }

    a {
      margin: 0;
      padding: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
      text-decoration: none;
      transition: color 0.25s $ease;
      color: $active-1;
    }
      a:hover {
        color: $active-2;
      }
  /*
      a:focus,
      button:focus {
        outline-width: rem(1px);
        outline-style: dotted;
        outline-color: $alt-blue;
      }
  */
